header {
  position: absolute;
  width: 100%;
  z-index: 1;
  transition: 1s;
  top: 0;
  height: 90px;
  display: flex;
  align-items: center;
}
header div.wrap {
  align-items: center;
}
header div.wrap h1 {

}
header div.wrap h1 a {
  font-size: 0;
  width: 45px;
  height: 35px;
  display: block;
  background-image: url(../img/logo.svg);
}
header div.wrap h1 a::after{
  content: "";
  width: 140px;
  height: 35px;
  display: inline-block;
  background-image: url(../img/logotext.svg);
  margin-left: 45px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-size: 90%;
  background-position-y: 5px;
}

header div.wrap ul.gnb {
  opacity: 0;
  transition: 0.5s;
}
header div.wrap ul.gnb li {

}
header div.wrap ul.gnb li a {
  padding: 10px 20px;
}
header div.wrap ul.gnb li a:hover {
  color: #1f70d9;
}

header div.wrap div.right {
  gap: 20px;
  font-size: 13px;
  align-items: center;
}
header div.wrap div.right ul.lang {

}
header div.wrap div.right ul.lang li {

}
header div.wrap div.right ul.lang li a {
  padding: 10px 5px;
}
header div.wrap div.right ul.lang li:nth-child(1) {

}
header div.wrap div.right ul.lang li:nth-child(1) a {
  color: #00000057;
}
header div.wrap div.right > a.ham {
  /*! font-size: 0; */
  /*! width: 35px; */
  /*! height: 10px; */
  /*! border-top: 3px solid #333; */
  /*! border-bottom: 3px solid #333; */
}
header .updown {
  position: absolute;
  right: 50px;
  bottom: -30px;
  width: 70px;
  height: 30px;
  font-size: 0;
  background-image: url(../img/up.svg);
  display: block;
  background-color: #ccc;
  text-align: center;
  line-height: 1.3;
  border-radius: 0 0 10px 10px;
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;

}
header .updown::before {
  content: "";
  position: absolute;
  right: -50px;
  top: 0;
  border-top: 2px solid #52beff;
  width: 100vw;
}
.opacity1{
  opacity: 1 !important;
}
.up {
  top: -85px;
}
.upbg {
  background-image: url(../img/down.svg) !important;
}