section#product2 {
  max-width: 1720px;
  margin: 0 auto;
  background-color: white;
}
section#product2 .wrap {
  /* flex-direction: row-reverse; */
  gap: 40px;
}
section#product2 .wrap h2 {
  
}
section#product2 .wrap ul {
  width: calc(100% / 2);
  flex-wrap: wrap;
  gap: 60px;
}
section#product2 .wrap ul li {
  width: 360px;
  height: 360px;
}
section#product2 .wrap ul li:first-child{
  /*! background-image: url(../img/BC380.png); */
  /*! background-repeat: no-repeat; */
  /*! background-position: right bottom; */
  /*! background-size: 30%; */
}
section#product2 .wrap ul li a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  transition: box-shadow 0.2s;
}
section#product2 .wrap ul li a:hover{
  box-shadow: 0px 0px 30px #cccccc8a;
}
section#product2 .wrap ul li a::after {
  content: "";
  background-image: url(../img/BP600.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 120px;
  height: 180px;
  display: inline-block;
}
section#product2 .wrap ul li a h3 {
  width: 100%;
}
section#product2 .wrap ul li a p {
  width: 60%;
  color: #9d9d9d;
}
section#product2 .wrap .pdetail {
  width: calc(100% / 2);
}
section#product2 .wrap .pdetail article {
  display: grid;
/*   grid-template-columns: 50% calc(50% - 50px); */
  grid-template-rows: auto auto 1fr;
  /*! column-gap: 50px; */
  row-gap: 24px;
}
section#product2 .wrap .pdetail article:not(:first-child) {
  display: none;
}
section#product2 .wrap .pdetail article hgroup {
  
}
section#product2 .wrap .pdetail article hgroup h3 {
  margin-bottom: 40px;
}
section#product2 .wrap .pdetail article hgroup h4 {
  
}
section#product2 .wrap .pdetail article p.h4 {
  line-height: 1.3;
}
section#product2 .wrap .pdetail article p.p {
  
}
section#product2 .wrap .pdetail article img {
  grid-row: 4 / span 3;
  grid-column: 1;
  width: 480px;
  height: 375px;
  padding-left: 300px; 
}